.auth-box{

width:350px;

margin:80px auto;

background:white;

padding:30px;

border-radius:20px;

box-shadow:0 5px 20px #ddd;

text-align:center;

}


.auth-box input{

width:90%;

padding:12px;

margin:10px;

border-radius:10px;

border:1px solid #ccc;

}
.dashboard{

padding:30px;

}


.stats{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(200px,1fr));

gap:20px;

}



.card{

background:white;

padding:25px;

border-radius:20px;

text-align:center;

box-shadow:
0 5px 15px #ddd;

font-size:20px;

}



section{

background:white;

margin-top:30px;

padding:25px;

border-radius:20px;

}

.auth-box button{

padding:12px 30px;

border:none;

border-radius:10px;

cursor:pointer;

background:#1565c0;

color:white;

}
